.title {
  fill: rgb(28, 28, 28);
}
.axis-label {
  fill: rgb(36, 36, 36);
  font-size: 1.4rem;
}
.axis {
  color: rgb(80, 9, 80);
  font-family: inherit;
  font-size: 1.2rem;
}

svg {
  /* width and height are set inline on the html to access in js*/
  fill: rgba(28, 28, 28, 0.75);
  background: #faf2f2; 
  border-radius: 10px;
  box-shadow: var(--shadow);
  /* background: linear-gradient(90deg, #eae0e0 0,#d0e6f2 58%); */
  background: linear-gradient(90deg, rgba(223, 203, 220, 0.70) 0,rgba(193, 222, 222, 0.70) 58%); 
}

.line-path {
  fill: none;
  stroke-width: 3px;
  stroke-linejoin: round;
}

#tooltip {
  position: absolute;
  opacity: 0;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
  width: 11rem;
  padding: 1.5rem;
  border-radius: 5px;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
}

.legend {                                               
  font-size: 1.4rem;   
}    
.legend-box {
  fill: rgba(255, 255, 255, 0.9);
  height: 80px;
  width: 115px;
}     

