.title {
  font-size: 1.6rem;
}
.axis-label {
  fill: rgb(16, 16, 16);
}
.axis {
  color: rgb(55, 55, 55);
}

svg {
  /* width and height are set inline on the html to access in js*/
  fill: rgba(42, 42, 42, 0.784);
  background: #edc0bf;
  background: linear-gradient(90deg, #eae0e0 0,#d0e6f2 58%);
}

.line-path {
  fill: none;
  stroke-width: 3px;
  stroke-linejoin: round;
  stroke-linejoin: round;
}

#tooltip {
  position: absolute;
  opacity: 0;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
  width: 11rem;
  padding: 1.5rem;
  border-radius: 5px;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
}

.legend {                                               
  font-size: 1.4rem;   
}    
.legend-box {
  fill: rgba(255, 255, 255, 0.743);
  height: 80px;
  width: 115px;
}     