.title {
  fill: rgb(28, 28, 28);
}
.axis-label {
  fill: rgb(36, 36, 36);
  font-size: 1.4rem;
}
.axis {
  color: rgb(29, 29, 29);
  font-family: inherit;
  font-size: 1.2rem;
}

svg {
  /* width and height are set inline on the html to access in js*/
  fill: rgba(28, 28, 28, 0.75);
  background: #edc0bf; 
  background: linear-gradient(90deg, #eae0e0 0,#d0e6f2 50%);
  background: linear-gradient(90deg, #e0e4ea 0,#e8e7f7 58%); 
  /* background-color: rgb(255, 255, 255); */
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.line-path {
  fill: none;
  stroke-width: 3px;
  stroke-linejoin: round;
}

#tooltip {
  position: absolute;
  opacity: 0;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
  width: 11rem;
  padding: 1.5rem;
  border-radius: 5px;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
}

.legend {                                               
  font-size: 1.4rem;   
}    
.legend-box {
  fill: rgba(255, 255, 255, 0.9);
  height: 80px;
  width: 115px;
}     