:root {
  /* colors */
  --racing-red: rgb(221, 56, 18);
  --light-gray: rgb(232, 232, 232);
  --dark-gray: rgb(199, 199, 199);
  --white: rgb(255, 255, 255);
  --almost-black: rgb(41, 41, 41);

  --primary-color: var(--racing-red);
  --secondary-color: rgb(103, 64, 64);

  --main-bg-color: var(--white);

  --main-text-color: var(--almost-black);
  --display-font: "Racing Sans One", Impact, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
  --shadow: 5px 4px 35px -12px rgba(144, 144, 144, 0.5);

  --left-header-color: var(--secondary-color);
  --right-header-color: var(--primary-color);

  --deg: 90deg;
  --header-gradient: linear-gradient(
    var(--deg),
    var(--left-header-color) 0,
    var(--right-header-color) 50%
  );
}

html {
  box-sizing: border-box;
  /* 10px/16px = 62% -> 1rem =>  10px */
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--main-text-color, black);
  background-color: var(--main-bg-color, white);
  background: var(--main-bg-color);
  font-size: 1.8rem;
  line-height: 1.5;
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) 8fr minmax(min-content, 14rem) minmax(
      6rem,
      1fr
    );
  grid-template-rows: auto auto auto 10px auto;
  gap: 3rem;
}

header {
  grid-column: 1 / -1;
  grid-row: 1/ 1;

  font-family: var(--display-font, Impact);
  font-size: 4.8rem;
  text-align: center;
  padding: 2.5rem 0;
  color: var(--white);
  text-shadow: 2px 2px 4px #292929e3;
  background-color: var(--racing-red);
  background: var(--header-gradient);

  display: flex;
  flex-direction: column;
}

.btn {
  background-color: var(--light-gray);
  border: none;
  color: var(--main-text-color);
  width: 10rem;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: inherit;
  margin-right: 2rem;
  cursor: pointer;
  align-self: flex-end;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}

.btn:active {
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  transform: scale(0.98);
}

h3 {
  font-size: 2.4rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.card {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: var(--shadow);
  padding: 2rem 3rem;
}

.error {
  height: 300px;
  width: 300px;
}

#graph-container {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
}

#race-results {
  grid-column: 2 / 3;
  grid-row: 5 / 7;

  width: 100%;
  border-bottom: solid 2px var(--light-gray);
}

#race-results td {
  padding: 0.5rem;
  text-align: center;
}

#race-results th {
  padding: 0.5rem;
  text-transform: capitalize;
  background-color: var(--primary-color);
  color: white;
  font-weight: 300;
}

#race-results th:first-child {
  border-top-left-radius: 10px;
}

#race-results th:last-child {
  border-top-right-radius: 10px;
}

#race-results tr:nth-child(even) {
  background-color: var(--light-gray);
}

#race-results tr:nth-child(odd) {
  background-color: var(--white);
}

.instructions {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.tips {
  grid-column: 3 / 4;
  grid-row: 4 / 6;
}

.tips li {
  list-style: disc;
  margin-bottom: 1rem;
}

.dropdowns {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  justify-content: start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dropdowns div:last-child {
  margin-bottom: 0;
}

.dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  border: 1px var(--almost-black) solid;
  border-radius: 10px;
  box-shadow: var(--shadow);
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  padding: 1rem;
  width: 25rem;
}

label {
  font-weight: 100;
  text-align: left;
}

footer {
  grid-column: 1/ -1;
  grid-row: 8 / 8;
  padding: 0 5rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(227, 208, 224, 0.95) 0,
    rgba(189, 220, 220, 0.9) 100%
  );
}

footer .profiles {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-around;
}

footer img {
  height: 2.5rem;
  margin: 0;
  align-self: start;
}

.img-link {
  padding-top: 10px;
}

footer a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

footer a:hover {
  color: var(--primary-color, red);
}

#legend {
  grid-column: 3 / 4;
  grid-row: 2 / 3;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#legend .legend-color {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  border: 0.5px solid rgb(45, 45, 45);
  margin-right: 1rem;
}

#legend p {
  display: inline-block;
}

#race-info {
  grid-column: 3 / 4;
  grid-row: 6 / 7;
}

#race-info a {
  color: var(--main-text-color, black);
  text-decoration: none;
}

#race-info a:hover {
  color: var(--primary-color, red);
}

#race-info h3 {
  padding-top: 0;
}

#race-info div {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--dark-gray);
  padding-bottom: 1rem;
}

@media only screen and (max-width: 1200px) {
  body {
    width: 100%;
    grid-template-columns: 1rem auto auto 1rem;
    grid-template-rows: auto auto auto auto auto;
    font-size: 1.6rem;
  }

  header {
    font-size: 3rem;
    padding: 1rem 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  button.btn {
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  #legend {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .instructions {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  #graph-container {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .dropdowns {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .dropdowns div {
    margin-bottom: 1rem;
    width: 50%;
  }

  .dropdowns select {
    height: 5rem;
    width: 90%;
  }

  .tips {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
  }

  #race-results {
    grid-column: 2 / 4;
    grid-row: 5 / 7;
    font-size: 1rem;
  }

  #race-info {
    grid-column: 3 / 4;
    grid-row: 7 / 8;
  }

  footer {
    grid-column: 1/ -1;
    grid-row: 10 / 11;
  }

  footer .profiles {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 1.4rem;
  }
}
