html {
  box-sizing: border-box;
  /* 10px/16px = 62% -> 1rem =>  10px */
  font-size: 62.5%; 
   --main-bg-color: rgb(255, 255, 255);
   --main-text-color: rgb(52, 52, 52);
   --display-font: 'Racing Sans One', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--main-text-color, black);
  background-color: var(--main-bg-color, white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: var(--display-font, Impact);
  font-size: 3.6rem;
}

.title {
  font-size: 1.6rem;
}
.axis-label {
  fill: rgb(16, 16, 16);
}
.axis {
  color: rgb(55, 55, 55);
}

svg{
  fill: rgba(42, 42, 42, 0.784);
  background: #edc0bf;
  background: linear-gradient(90deg, #eae0e0 0,#d0e6f2 58%);
}

.line-path {
  fill: none;
  stroke-width: 3px;
  stroke-linejoin: round;
  stroke-linejoin: round;
}

#tooltip {
  background: rgba(255, 255, 255, 0.489);
  -webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
  width: 11rem;
  padding: 1.5rem;
  border-radius: 5px;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  line-height: 2rem;
}

.legend {                                               
  font-size: 1.4rem;   
}    
.legend-box {
  fill: rgba(255, 255, 255, 0.743);
  height: 80px;
  width: 115px;
}            

.error{
  height: 300px;
  width: 300px;
}

select {
  width: 30rem;
}

#race-results {
  font-size: 1.4rem;
  margin-bottom: 5rem;
  border-bottom: solid 2px rgb(232, 232, 232);
}

#race-results td {
  padding: 1rem;
  text-align: center;
}

#race-results th {
  padding: 1rem;
  text-transform: capitalize;
  font-weight: 700;
  background-color: rgb(205, 45, 30);
  color: white;
  font-weight: 300;
}

#race-results tr:nth-child(even) {
  background-color: rgb(232, 232, 232);
}

.description {
  font-size: 1.6rem;
  border: black solid 1px;
  border-style:outset;
  padding: 2rem;
  margin: 2rem 0;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
                              
#graph-container{
  display: flex;
  margin: 3rem 0;
}

.explanation {
  box-sizing: border-box;
  width: 20rem;
  font-size: 1.6rem;
  margin-left: 1rem;
  padding: 1rem 3rem;
  border: black solid 1px;
  color: rgb(58, 58, 58);
}

.explanation ul {
  list-style: disc;
}

.explanation li {
    margin-bottom: 1rem;
}