html {
  box-sizing: border-box;
  /* 10px/16px = 62% -> 1rem =>  10px */
  font-size: 62.5%; 
   --main-bg-color: rgb(237, 237, 237);
   --main-text-color: rgb(52, 52, 52);
}

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: var(--main-text-color, black);
  background-color: var(--main-bg-color, white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.4rem;
}

.title {
  font-size: 1.6rem;
}
.axis-label {
  fill: white;
}
.axis {
  color: rgb(70, 70, 70);
}

svg{
  fill: rgb(255, 166, 0);
  /* background-color: #eff5f9; */
  background-color: rgb(40, 40, 40);
}

.line-path {
  fill: none;
  /* stroke: #03BFB5; */
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linejoin: round;
}